p {
  font-size: 20px;
  margin-top: 0px;
  text-align: justify;
}

h1 {
  text-align: center;
}

.curry {
    columns: 3;
    column-gap: 50px;
    column-rule: 2.5px solid purple;
}


h2 {
    font-size: 35px;
    margin:auto
}

.ali {
    width: 100%;
}

.bloop {

    font-size: 20px;
    
    unicode-bidi: bidi-override;
    text-decoration: dotted ;
    text-decoration: dashed;
}
