p {
  font-size: 18px;
  margin-top: 0px;
  text-align: justify;
}

h1 {
  font-size: 45px;
  text-align: left;
  text-decoration: underline;
}

.curry {
    columns: 3;
    column-gap: 60px;
    column-rule: 2.5px solid black;
}


h2 {
    font-size: 35px;
  text-decoration: underline;
    margin:auto
}

.ali {
    width: 100%;
}

h3 {
    font-size: 25px;
  text-decoration: underline;
    
.bloop {

    font-size: 20px;
    
    unicode-bidi: bidi-override;
    text-decoration: dotted ;
    text-decoration: dashed;
}
