p {
  font-size: 20px;
  margin-top: 0px;
  text-align: justify;
}

h1 {
  font-size: 40px;
  text-align: left;
}

.curry {
    columns: 3;
    column-gap: 60px;
    column-rule: 2.5px solid black;
}


h2 {
    font-size: 30px;
    margin:auto
}

.ali {
    width: 100%;
}

.bloop {

    font-size: 20px;
    
    unicode-bidi: bidi-override;
    text-decoration: dotted ;
    text-decoration: dashed;
}
